
{% extends baseTemplate %}

{% block imports %}

    {{ parent() }}
    <link rel="import" href="bower_components/polymorph/src/Polymorph/Application/elements/polymorph-app-page.html?0.3.0"/><!-- with cache-id -->
    <link rel="import" href="bower_components/polymorph/src/Polymorph/Application/elements/polymorph-app-exception.html?0.3.0"/><!-- with cache-id -->

{% endblock %}

{% block view %}

    <polymorph-app-page class="polymorph-partial" path="{{ view.path }}">

        <h1>{{ meta.errorPage.heading }}</h1>

        <p>
            <a href="{{base}}">{{ meta.errorPage.homeLink }}</a>
        </p>

        {% for exception in exceptions %}

            <polymorph-app-exception code="{{exception.statusCode}}" message='{{exception.message}}'>
                <ul class="trace">

                {% for entry in exception.trace %}
                    {% if entry.line %}

                        <li>in <span class="file">{{entry.file}}</span> line <span class="line">{{entry.line}}</span></li>

                    {% endif %}
                {% endfor %}

                </ul>
            </polymorph-app-exception>

        {% endfor %}

    </polymorph-app-page>

{% endblock %}
