
<meta name="robots" content="{{ meta.robots }}"/>
<meta name="description" content="{{ meta.description }}"/>
<meta name="viewport" content="{{ meta.viewport }}"/>

<title data-suffix="{{ meta.titleSuffix }}">{{ pageTitle }}{{ meta.titleSuffix }}</title>

{% block imports %}

<link rel="import" href="bower_components/polymer/polymer.html"/>
<link rel="import" href="bower_components/polymorph/src/Polymorph/Application/elements/polymorph-app-page.html?0.3.0"/><!-- with cache-id -->

{% endblock %}

{% block view %}
    <polymorph-app-page
            class="polymorph-partial"
            path="{{ view.path }}"
            element="{{ element }}"
            element-data="{{ elementData|json_encode }}">
        {{ content|raw }}
    </polymorph-app-page>
{% endblock %}
